<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>RubyEE</title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'coderay' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
    <!-- GoStats JavaScript Based Code -->
    <script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
    <script type="text/javascript">_gos='c3.gostats.cn';_goa=340426;
    _got=5;_goi=1;_gol='﻿免费计数器';_GoStatsRun();</script>
    <noscript><a target="_blank" title="﻿免费计数器" 
    href="http://gostats.cn"><img alt="﻿免费计数器" 
    src="http://c3.gostats.cn/bin/count/a_340426/t_5/i_1/counter.png" 
    style="border-width:0" /></a></noscript>
    <!-- End GoStats JavaScript Based Code -->
  </head>
  <body>
    <div id="container">
      <div id ="topmenu">
	<%= render :partial => 'layouts/top_menu' %>
      </div>
      <div id="header">
	<table  id="top" cellspacing="0px" cellpadding="0">
	  <tr>
	    <td>
	      <%= image_tag 'logo.jpg',:alt =>"RubyEE" %>
	    </td>
	    <td style="width:3px">
	    </td>
	    <td>
	      <%= image_tag 'top.jpg',:alt =>"RubyEE" %>
	    </td>
	  </tr>
	</table>
      </div>
      <div id="navigator">
	    <%= render :partial => 'layouts/menu' %>
      </div>
      <div id="content">
        <% if flash[:notice] -%>
          <div id="notice">
           <%= flash[:notice] %>
          </div>
        <% end -%>
        <% if flash[:error] -%>
          <div id="error">
           <%= flash[:error] %>
          </div>
        <% end -%>
        <%= yield %>
	<div id ="footer">
	<%= render :partial => 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
